*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}
.container{
    width: 100%;

}
.header{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items : center;
    border-bottom:2px solid rgb(0,0 ,0 ) ;
    padding: 0 20px;
    flex-wrap: wrap;
}
.logo img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    
}
.logo{
    height: 80% ;
    width: 100px;
    margin: 0 auto;
}
.logo,.nav,.nav-2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav p{
    color: rgb(255, 255, 255);
}

.nav{  
   display: flex;
   justify-content: center;
   align-items: center;;
   margin: 0 auto;
   gap: 10px;
   
}

.nav-2{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    gap: 20px;
    flex: 1;
}

.nav-2 a {
     text-decoration: none;
     color: white;
     gap: 15px;
     font-size: 18px;
}
.bars{
    font-size: 1.5rem;
    color: white;
    display: none;
}
.Shop p{
    position: relative;
    cursor: pointer;
    font-size: 18px;

}
.list-shop {
   position: absolute;
   top: 8;
   left: 10;
   margin-top: 20px;
   width: 150px;
   padding:  10px 0;
   list-style: none;
   background-color: #ffffff;
   border: 1px solid #63626283;
   border-radius: 8px;
   z-index: 10;
   visibility: hidden;
   opacity: 0;
   transition: all linear 0.2s;  
} 
.list-shop li{
    line-height: 30px;
    padding: 0 10px;
    color: black;
}
.list-shop li:hover{
    background-color: #4f5761;
    color: #ffffff;
}
.Shop:hover .list-shop{
   visibility: visible;
   opacity: 1;
   transition: all linear 0.2s;
}
.container-1{
  width: 270px;
  vertical-align: middle;
  white-space: nowrap;
}
.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #d2d4d6;
  border: none;
  font-size: 10pt;
  float: left;
  color: #5b6269;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.middle{
    width: 100%;
    background-color: rgb(255, 255, 255);
   
}
.list-item{
    display: flex;
    padding: 20px ;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;
}
.item-select{
    flex:1;
    padding: 20px;
    max-width: 25%;
    min-width: 200px;
}

.item-select:hover{
    border:2px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.img-item{
    width: 100%;
    height: 200px;
}
.img-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.introduce > p {
  font-size: 20px;
  font-weight: 600;
  padding-top: 15px;
  display: -webkit-box;
 -webkit-line-clamp: 1;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}
.introduce{
    opacity: 0.9;
}
.item-select-small-1{
    padding-top:10px ;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-select-small-2{
    display: flex;
    padding-top: 20px ;
    gap: 10px;
}
.car{
    margin: 20px 0 ;
    font-size: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.car-2 .logo-car {
    
    display: block;
}
.car-2{
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.car-2 p {
    width: 300px;
    font-size: 35px;
    text-align: center;  
}

.car-3{
    
    font-size: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.car-3 p {
    width: 100%;
    padding-left: 20px;
    text-align: center;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: black;
    margin-top: 40px;
}
